/* your styles go here */

html,
body {
    height: 100%;
}

#container {
    min-height: 80%;
}

footer {
    position: relative;
    height: auto;
    clear: both
}

.navbar-header a {
    font-size: 1.1rem;
}