{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row p-3">
        <div class="mt-5">
            <p class="text-big">This site was launched in the year 2021. as a portal for musicians and friends who
                wanted
                to share stories about guitars.</p>
            <p class="text-big">It quickly grew in members and we have had some beatiful guitar stories come our way...
            </p>
        </div>
        <div class="mt-5">
            <p class="text-big">There are a lot of famous guitar players covered here that motivated me and other
                people. Check them out!</p>
            <p class="text-big">In the near feature we are planning to link up with some of our local Guitar
                Shops here in Dublin Ireland and do guitar Clinics like dimebag did and host some lessons.</p>
        </div>
        <div class="mt-5">
            <p class="text-big">This would benefit many people who are starting their journey and would like easy access
                to guitar training, news and updates related to Music Shops.</p>
        </div>
        <div class="mt-5">
            <p class="text-big">To contact us please send us an email or reach out via Social Media platforms. The
                links can be found on our homepage!</p>
        </div>
    </div>
</div>


{% endblock %}