<!DOCTYPE html>
<html>
<!-- important CSS to override my BOOTSTRAP -->
<style>
    /* html,
    body {
        height: 100%;
    }

    #container {
        min-height: 80%;
    }

    footer {
        position: relative;
        height: auto;
        clear: both
    }

    .navbar-header a {
        font-size: 1.1rem;
    } */
</style>
<!-- ----------------------- -->

{% include 'head.html' %}

<body>
    <div id="container">
        {% include 'header.html' %}

        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>

</html>