{% load static %}
<!-- Page Footer-->
<footer class="main-footer" id="footer">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="text-center">
                <div class="logo">
                    <h6 class="text-white">Guitar Portal</h6>
                </div>
                <div class="contact-details">
                    <p>Email: <a href="mailto:guitarportaldublin@gmail.com">guitarportaldublin@gmail.com</a></p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="https://facebook.com" target="_blank"><i
                                    class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://twitter.com" target="_blank"><i
                                    class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://instagram.com" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://youtube.com" target="_blank"><i
                                    class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div>
                    <p>&copy; 2022. All rights reserved. Guitar Portal</p>
                </div>
            </div>
        </div>
    </div>
</footer>